{% extends 'memberlayout.html' %} 



{% block style %} 

<link rel="stylesheet" href="{{url_for('static', filename = 'xiongjie/css/plugins.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'xiongjie/css/style.css')}}">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{{url_for('static', filename = 'xiongjie/js/plugins.js')}}"></script>
<script src="{{url_for('static', filename = 'xiongjie/js/custom.js')}}"></script>

{% endblock %}


{% block content %}

<div class="ht-page-wrapper">

    <section class="ht-section hs-recipes grid">
        <header class="hs-header">
            <div class="container">
                <h2 class="heading">Recent recipes</h2>
                <p class="sub-heading"></p>
            </div>
            <ul class="isotope-filter" data-target="#grid-2">
                <li class="is-filtered">
                    <a href="#" data-filter="*">ALL</a>
                </li>
                <li>
                    <a href="#" data-filter=".filter-food">FOODS</a>
                </li>
                <li>
                    <a href="#" data-filter=".filter-beverages">BEVERAGES</a>
                </li>
                <li>
                    <a href="#" data-filter=".filter-dessert">DESSERTS</a>
                </li>
                <li>
                    <a href="#" data-filter=".filter-pudding">PUDDING</a>
                </li>
            </ul>
        </header>
        <div class="hs-content">
            <div class="container">
                <div class="row">
                    <div class="isotope-grid" id="grid-2">
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-food filter-pudding">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="{{url_for('static', filename = 'xiongjie/img/dish_2.jpg')}}" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="{{url_for('view_recipe')}}">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="{{url_for('view_recipe')}}">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Xiong Jie</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty easy" title="">Easy</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-beverages">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="{{url_for('static', filename = 'xiongjie/img/dish_2.jpg')}}" alt="" />
                                    
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="{{url_for('view_recipe')}}">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="{{url_for('view_recipe')}}">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Cynthia</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty hard" title="">Hard</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-dessert">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_3.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Aaron</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty master" title="">Master</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-food filter-pudding">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_1.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Hassan</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty easy" title="">Easy</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-beverages">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_2.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Raymond</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty hard" title="">Hard</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-dessert">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_3.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Yasuba</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty master" title="">Master</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-food filter-pudding">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_1.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Gwen</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty easy" title="">Easy</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-beverages">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_2.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Iffah</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty hard" title="">Hard</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-dessert">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_3.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Ummi</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty master" title="">Master</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-food filter-pudding">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_1.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Junyao</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty easy" title="">Easy</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-beverages">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_2.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Jace</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty hard" title="">Hard</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                        <div class="entry col-xs-12 col-sm-4 col-md-3 filter-dessert">
                            <div class="entry-inner">
                                <div class="entry-media">
                                    <img src="images/dishes/dish_3.jpg" alt="" />
                                    <div class="entry-action">
                                        <div class="entry-action-inner">
                                            <span>
                                                <a href="recipe_single.html">VIEW RECIPE</a>
                                            </span>
                                            <span>
                                                <a href="#">BOOKMARK RECIPE</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-media -->
                                <div class="content-wrapper">
                                    <h3 class="entry-name">
                                        <a href="recipe_single.html">Khatulistiwa Fruit Salad</a>
                                    </h3>
                                    <p class="entry-author">By Ahmad</p>
                                    <div class="entry-meta">
                                        <div class="foo-wrapper">
                                            <span class="meta-difficulty master" title="">Master</span>
                                            <span class="meta-time">3 minutes</span>
                                        </div>
                                        <div class="meta-rate" title="4 star">
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star rated"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ entry-content -->
                            </div>
                            <!-- /.entry-inner -->
                        </div>
                        <!-- /.entry -->
                    </div>
                    <!-- / .isotope-entry -->
                </div>
                <!-- /.row -->
                <p class="text-center">
                    <a href="recipe_index.html" class="ht-button view-more-button">
                        <em class="fa fa-arrow-left"></em> VIEW MORE RECIPES
                        <em class="fa fa-arrow-right"></em>
                    </a>
                </p>
            </div>
            <!-- /.container -->

        </div>
        <!-- /.ht-products.grid -->
    </section>
    <!-- /.ht-section -->

    <!-- Modal -->
    <div class="modal fade" id="ht-search-form" tabindex="-1" role="dialog" aria-labelledby="ht-search-form" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="#">
                        <input type="text" placeholder="Type keyword ..." autofocus />
                        <button class="search-button" type="button">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / .hs-footer-widget -->

</div>

{% endblock %}