{% extends 'dashboard.html' %}

{% block dashtitle %}
Manage Recipes
{% endblock %}

{% block dashboard %}

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="15%"> Title </th>
        <th width="25%"> Description </th>
      </tr>
    </thead>
    <tbody>
        {% for a in all_recipe %}
      <tr>
        <td> <a href = "{{url_for('videoz', videoid = v.id)}}">{{ a.title }}</a></td>
        <td> {{ a.description }} </td>
         
        <td>
          <a href="{{ url_for('videdit', id= v.id) }}">
            <i class="fa fa-pencil"></i> Edit 
          </a>
        </td>
        <td>
          <a href="{{ url_for('viddelete', id=v.id)}}">
            <i class="fa fa-trash"></i> Delete 
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}