

.playlist {
    margin-top:150px;
    width:300px;
    position: absolute;
}

.video {
    float: right;
    margin-left: 500px;
    margin-top:150px;
    margin-bottom:200px;
    position: absolute;
}

.vidimg{
    height:400px;
    width: 700px;
    padding-bottom: 10px;
}  

.title{
    font-size:30px;
}

.navbar{
    background: black;
  }


.input-group{
    margin-top: 100px;
    margin-bottom: 30px;
    width:300px;
    height:30px;
    position: absolute;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:grey;
}