{% extends 'memberlayout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form style = "padding:30px;" method = "POST">
        
        {{form.hidden_tag()}}
        
        {{wtf.form_field(form.author)}}
        
        <br>
        
        {{wtf.form_field(form.description)}}
        
        <br>
        
        {{wtf.form_field(form.content)}}
        
        <br>
        
        <input style = "width:80px;"class="btn btn-default" type ="submit" value="Edit">
        
        </form>

{% endblock %}