{% extends "layout.html" %}
{% block title %} Shop | Cart {% endblock %}

{% block content %}

    <section class="main-section">
		<!--main-section-start-->
		<div class="container">
            <h1>Cart</h1>
            <div class="row" style="">
                <table class="table" style="width:100%">
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                  <tr>
                    <td>Eggs</td>
                    <td>2</td>
                    <td>1.80</td>
                  </tr>
                </table>
            </div>
        </div>
    </section>


{% endblock %}
