{% extends "layout.html" %}
{% block title %} Lifestyle28 | OrdersAdmin {% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-section{
	padding:20px 0 110px;
}
.table{
    width: 79%;
    margin: 20px auto;
    margin-bottom: 50px;
    margin-top: 0px;
}
.orderadmin{
    width: 90%;
    margin: 20px auto;
}
.order-button{
    width: 80%;
    outline: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
}
.order-button:hover {
    cursor:pointer;
    {#background-color: ghostwhite;#}
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.orderid{
    display: inline-block;
    margin-right: 50px;
}
.filtermenu{
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
.menuid{
    display: inline-block;
    margin-right: 40px;
    padding: 10px;
    {#border: 1px solid black;#}
    {#border-bottom-style: solid;#}
    {#border-color: grey;#}
}
.menuid:hover{
    border-bottom-style: solid;
    border-color: grey;
    {#box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);#}
}
input[type=text] {
    margin-right: 40px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 10px 8px 10px;
}
.menuid a{
    color: black;
    text-decoration-line: none;
}
</style>

<div class="orderadmin">
    <h2>Admin Orders</h2>
</div>
<div class="filtermenu">
    <input type="text" name="search" placeholder="USER ID" >
    <h3 class="menuid"><a href="">Date</a></h3>
    <h3 class="menuid"><a href="">Delivery Status</a></h3>
</div>
{% for i in group %}
<div>
    <div class="order-button">
        <h3 class="orderid">User ID: {{ i[0].user_id }}</h3>
        <h3 class="orderid">Order ID: {{ i[0].order_id }}</h3>
        <h3 class="orderid">Qty: {{ i[0].items_quantity }}</h3>
        <h3 class="orderid">Date: {{ i[0].date.strftime("%y-%m-%d") }}</h3>
        <h3 class="orderid">Status: <a href='{{ url_for('deliver', group_id=i[0].order_id) }}'>{{ i[0].delivered }}</a></h3>
        <i class="fa fa-caret-down" style="font-size: 24px; color: black; float: right; margin-right: 40px"></i>
    </div>
    <table class="table table-bordered table-striped table-hover order-info" style="display: none">
        <thead>
            <tr>
                <th>#</th>
                <th>Order ID</th>
                <th>User ID</th>
                <th>Item ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
                <th>Delivered</th>
            </tr>
        </thead>
{#        {% for x in group %}#}
        <tbody id="admin-items">
            {% for z in i %}
            <tr>
                <td>{{ z.id}}</td>
                <td>{{ z.order_id }}</td>
                <td>{{ z.user_id }}</td>
                <td>{{ z.item_id }}</td>
                <td>{{ z.name }}</td>
                <td>{{ z.quantity }}</td>
                <td>{{ z.price }}</td>
                <td>{{ z.date }}</td>
                <td>{{ z.delivered }}</td>
            </tr>
            {% endfor %}
        </tbody>
{#        {% endfor %}#}
    </table>

</div>
{% endfor %}
<script>
$(document).ready( function() {
    $(document).on('click', '.Delete', function(){

        delete_id = $(this).attr('delete_id');

        req = $.ajax({
            url: '/deleteItem',
            type: 'POST',
            data: {
                delete_id : delete_id
            }
        });

        req.done(function(data){
            $('#admin-items').fadeOut(200).fadeIn(200);
            $('#admin-items').html(data);
        });

        $('#deleteAlert').fadeIn(1000).fadeOut(1000);
    });
    $(document).on('click', '.Submit', function(){
        var name = $('#name').val()
        var info = $('#info').val()
        var price = $('#price').val()
        var description = $('#description').val()
        var category = $('#category').val()
        var calories = $('#calories').val()
        var quantity = $('#quantity').val()

        var file = new FormData();
        file.append('name', name);
        file.append('info', info);
        file.append('price', price);
        file.append('description', description);
        file.append('category', category);
        file.append('calories', calories);
        file.append('quantity', quantity);
        file.append('image', $("#image")[0].files[0]);

        if((name && info && price && description && calories && quantity) == '') {
            $('#errorAlert').fadeIn(1000);
        }

        else{
            req = $.ajax({
                url: '/addItem',
                type: 'POST',
                data: file,
                cache:false,
                processData:false,
                contentType:false,
            });

            req.done(function(data){
                $('#admin-items').fadeOut(200).fadeIn(200);
                $('#admin-items').html(data);
            });
            $('#errorAlert').fadeOut();
            $('#successAlert').fadeIn(1000).fadeOut(1000);
        }

    });
    $(document).ready(function(){
        $(".order-button").click(function(){
            $(".order-info").toggle();
        });
    });
});
</script>

{% endblock %}
