<h3 style="font-size: 25px;">Order ID: {{ order_id }}</h3>
<i class="fa fa-address-card-o" aria-hidden="true" style="font-size: 100px; margin-left: 20px;"></i>
<i class="fa fa-calendar" aria-hidden="true" style="font-size: 100px; margin-left: 210px"></i>
<i class="fa fa-truck" aria-hidden="true" style="font-size: 100px; margin-left: 210px"></i>
<i class="fa fa-archive" aria-hidden="true" style="font-size: 100px; margin-left: 210px"></i>
<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
{#    {{ percent }}%#}
    </div>
</div>