{% for i in items[::-1] %}
    <tr id="admin-row">
        <th>{{ i.id }}</th>
        <td>{{ i.name }}</td>
        <td>{{ i.info }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.category }}</td>
        <td>{{ i.calories }}</td>
        <td>{{ i.quantity }}</td>
        <td><a itemid="{{ i.id }}" class="updateItem">update</a></td>
        <td><a class="btn Delete" delete_id="{{ i.id }}"><img src="{{ url_for('static', filename="img/delete-icon.png") }}" style="width: 20px;"></a></td>
    </tr>
{% endfor %}