<div class="card-header">
        Playlist
     <a data-toggle="modal" data-target="#myModal"><i style = "font-size:15px; margin-top:3px; margin-left:195px;"class="fa fa-plus" aria-hidden="true"></i></a>
 </div>
 <ul id = "searchlist" class="list-group list-group-flush">

     {% for p in sorted_vid  %}
   
     <li id='{{p.id}}' class="list-group-item playlist_id" name = "{{p.playlist_id}}">
        <a href = "{{url_for('load_playlist_vid', id = p.id)}}">{{p.title}}
             <a type="button" name = "{{p.id}}" class="close ml-auto" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </a>
         </a> 
     </li>

     {% endfor %}       
 </ul>

 <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Select Saved Videos</h5>
         <button type= "button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
         </div>
         <div class="modal-body">

     
         <ul style = "margin-left:-40px;">
             {% for s in savedvids  %}
     
             <li class="list-group-item">
                 <label><input type="checkbox" class = "vid_checkbox" name = "selectvid" value="{{s.videoid}}">  {{s.title}}</label> 
             </li>
     
             {% endfor %}     
         </ul>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary confirm">Confirm</button>
         </div>
     
     </div>
   </div>
 </div>

{% block script %}

    
<script>

$( document ).ready(function() {
    var selected_vid = $('.videos').attr('name')
    console.log(selected_vid)
    console.log('#' + selected_vid)
    $('#' + selected_vid ).addClass('vidhighlight')
});

    
    $(function(){
        $('#searchlist').sortable({
            axis: 'y',
            update: function (event, ui) {
                var value = $(this).sortable('toArray' );
                console.log(value);
        
                // POST to server using $.post or $.ajax
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('update_order')}}",
                    data: JSON.stringify({value:value}),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json"
                });
            }
        });
      });
    
      $('.close').on('click', function() {
        var playlist_id = $(this).attr('name');
    
        req = $.ajax({
        url : '/dashboard/playlist/viewvideo/deletevid/' + playlist_id,
        type : 'POST',
    
        });
    
        req.done(function(data) {
            $('.playlist').empty();
            $('.playlist').append(data.playlist);
        });
    
    });
    
    
    $('.confirm').on('click', function() {
        var playlist_id = $('.playlist_id').attr('name');

        var checkedvalue_array = [];
        var checkedvalue = $('.vid_checkbox:checked').each(function(){
            checkedvalue_array.push($(this).val())
        });
    
        req = $.ajax({
        url : '/dashboard/playlist/viewvideo/addvid/' + playlist_id,
        type : 'POST',
        data: JSON.stringify({checkedvalue_array:checkedvalue_array}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json"
    
        });
    
        req.done(function(data) {
            $('#myModal').modal('hide');
            $('#myModal').on('hidden.bs.modal', function () {
                $('.playlist').empty();
                $('.playlist').append(data.playlist);
            })     
        });
    });
    
    function search() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('searchinput');
        filter = input.value.toUpperCase();
        check_value = input.value
        ul = document.getElementById("searchlist");
        li = ul.getElementsByTagName('li');
    
        if (check_value != ''){
            $('#searchlist').sortable('disable'); 
        } else if (check_value == '') {
            $('#searchlist').sortable("enable"); 
        }
    
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>
    
{% endblock %}
    
    