<div class="card-header">
        Playlist
     <a data-toggle="modal" data-target="#myModal"><i style = "font-size:15px; margin-top:3px; margin-left:195px;"class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <ul id = "searchlist" class="list-group list-group-flush">
    
     {% for p in all_vid %}
    
     <li id='{{p.id}}' class="list-group-item">
        <a href = "{{url_for('load_playlist_vid', id = p.id)}}">{{p.title}}
             <a type="button" name = "{{p.id}}" class="close ml-auto" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </a>
         </a> 
     </li>
    
     {% endfor %}       
    </ul>

{% block script %}

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    
    <script>
    
    $(function(){
        $('#searchlist').sortable({
            axis: 'y',
            update: function (event, ui) {
                var value = $(this).sortable('toArray' );
                console.log(value);
        
                // POST to server using $.post or $.ajax
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('update_order')}}",
                    data: JSON.stringify({value:value}),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json"
                });
            }
        });
      });
    
      $('.close').on('click', function() {
        var playlist_id = $(this).attr('name');
    
        req = $.ajax({
        url : '/dashboard/playlist/viewvideo/delete/' + playlist_id,
        type : 'POST',
    
        });
    
        req.done(function(data) {
            $('.playlist').empty();
            $('.playlist').append(data.playlist);
        });
    
    });
    
    
    $('.confirm').on('click', function() {
        var url = window.location;
        var url_string = url.toString();
    
        var playlist_id = url_string[url_string.length-1]
    
        var checkedvalue_array = [];
        var checkedvalue = $('.vid_checkbox:checked').each(function(){
            checkedvalue_array.push($(this).val())
            });
    
        req = $.ajax({
        url : '/dashboard/playlist/viewvideo/add/' + playlist_id,
        type : 'POST',
        data: JSON.stringify({checkedvalue_array:checkedvalue_array}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json"
    
        });
    
        req.done(function(data) {
            $('.playlist').empty();
            $('.playlist').append(data.playlist);
        });
    
    });
    
    
    
       function search() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('searchinput');
        filter = input.value.toUpperCase();
        check_value = input.value
        ul = document.getElementById("searchlist");
        li = ul.getElementsByTagName('li');
    
        if (check_value != ''){
            $('#searchlist').sortable('disable'); 
        } else if (check_value == '') {
            $('#searchlist').sortable("enable"); 
        }
    
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>
    
{% endblock %}
    
    