<thead>
    <tr>
        <th width="5%"> <a class = "dates" href = "#"> From </a></th>
        <th width="15%"><a id = "subject" class = "dates" href = "#"> Subject 

          {% if subjectasc %}
          <i class="fa-lg fa fa-caret-down"></i> 
          {% else %}
          <i class="fa-lg fa fa-caret-up"></i> 
          {% endif %}

        </a></th>
        <th width="5%"><a id = "date" class = "dates" href = "#"> Date 
          {% if dateasc %}
          <i class="fa-lg fa fa-caret-down"></i>
          {% else %}
          <i class="fa-lg fa fa-caret-up"></i> 
          {% endif %}
        </a></th>
      </tr>
</thead>
<tbody>
  {% for i in flagged %}
  <tr>
    <td>
      <a href="{{url_for('profile', username=i.sender)}}">{{i.sender}}</a>
    </td>
    <td>
      <a href="{{url_for('flaggedmsg', id=i.id)}}">{{i.subject}}</a>
    </td>
    <td width="2%">{{i.date}}</td>

    <td width="5%">
      <a name="{{i.id}}" class="removeflag">
        <i class="fa fa-ban"></i> Remove
      </a>
    </td>

  </tr>
  {% endfor %}
</tbody>



{% block script %}

<script>
  $(document).ready(function () {

    $('#subject').on('click', function () {

      req = $.ajax({
        url: "{{url_for('sortflagasc', type = 'subject')}}",
        type: 'POST',

      });

      req.done(function (data) {
        $('.table').empty();
        $('.table').append(data.flagged);
      });

    });


    $('#date').on('click', function () {

      req = $.ajax({
        url: "{{url_for('sortflagasc', type = 'date')}}",
        type: 'POST',

      });

      req.done(function (data) {
        $('.table').empty();
        $('.table').append(data.flagged);
      });

    });

    $('.removeflag').on('click', function () {

      var flag_id = $(this).attr('name');

      req = $.ajax({
        url: "{{url_for('removeflag')}}",
        type: 'POST',
        data: JSON.stringify({
          flag_id: flag_id
        }),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json"

      });

      req.done(function (data) {
        $('.table').empty();
        $('.table').append(data.removeflag);
      });

    });

  });
</script>

{% endblock %}