{% extends "layout.html" %}
{% block title %} Admin | Add Item {% endblock %}

{% block content %}

    <section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
            <div class="row" style="margin: auto">
                <form name="additemForm" id="additemForm" method="POST" enctype="multipart/form-data" action="{{ url_for('addItem') }}" style="width: 50%; margin: auto; padding: auto">
                    <h1>Add Item</h1>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="info">Info:</label>
                        <input type="text" class="form-control" name="info" id="info">
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" name="price" id="price">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select name="category" id="category">
                            <option value="Others">Others</option>
                            <option value="Meat & Seafood">Meat & Seafood</option>
                            <option value="Fruit & Veg">Fruit & Veg</option>
                            <option value="Frozen">Frozen</option>
                            <option value="Dairy">Dairy</option>
                            <option value="Bakery">Bakery</option>
                            <option value="Beverages">Beverages</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input type="number" class="form-control" name="calories" id="calories">
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" name="image">
                    </div>
                    <button type="submit" class="btn btn-success" style="float: right">Add</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
