{% extends 'vidlayout.html' %} 

{% block title %} Videos {% endblock %} 

{% block style %}

<link href="{{url_for('static', filename='css/advancedvid.css')}}" rel="stylesheet" type="text/css"> 

{% endblock %} 

{% block content %}

<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">FILTER</a>
            <ul class="pure-menu-children">
                <li id='rec' class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Recommended</a>
                </li>
                <li id='cal' class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Calisthenics</a>
                </li>
                <li id='weight' class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Weight Lifting</a>
                </li>
                <li id='aerobic' class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Aerobic</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="input-group">
    <input class="form-control" placeholder="">
    <div class="input-group-addon">
        <i class="fa fa-search"></i>
    </div>
</div>

<div id='reccontainer' class="vidcontainer">
    <ul class='vidul'>
        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/lifestyle.jpg')}}">
            </a>

        </li>

        AdvancedX 1

        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/running.jpeg')}}">
            </a>

        </li>

        AdvancedX 2

    </ul>
</div>


<div id='calicontainer' class="vidcontainer">
    <ul class='vidul'>
        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/lifestyle.jpg')}}">
            </a>

        </li>

        AdvancedX 3

        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/running.jpeg')}}">
            </a>

        </li>

        AdvancedX 4</a>

    </ul>
</div>

<div id='weightcontainer' class="vidcontainer">
    <ul class='vidul'>
        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/lifestyle.jpg')}}">
            </a>

        </li>

        AdvancedX 5

        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/running.jpeg')}}">
            </a>

        </li>

        AdvancedX 6</a>

    </ul>
</div>

<div id='aerocontainer' class="vidcontainer">
    <ul class='vidul'>
        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/running.jpeg')}}">
            </a>
        </li>

        AdvancedX 7

        <li>
            <a href="{{ url_for('beginnervideo') }}">
                <img class='advancedpics' src="{{url_for('static', filename = 'img/running.jpeg')}}">
            </a>

        </li>

        AdvancedX 8</a>

    </ul>
</div>


{% endblock %} 

{% block script %}

<script>
    $(document).ready(function () {
        $('#calicontainer').hide()
        $('#weightcontainer').hide()
        $('#aerocontainer').hide()
    });

    $('#rec').click(
        function () {
            $('#calicontainer').hide()
            $('#reccontainer').show()
            $('#weightcontainer').hide()
            $('#aerocontainer').hide()
        })

    $('#cal').click(
        function () {
            $('#calicontainer').show()
            $('#reccontainer').hide()
            $('#weightcontainer').hide()
            $('#aerocontainer').hide()
        })

    $('#weight').click(
        function () {
            $('#calicontainer').hide()
            $('#reccontainer').hide()
            $('#weightcontainer').show()
            $('#aerocontainer').hide()
        })

    $('#aerobic').click(
        function () {
            $('#calicontainer').hide()
            $('#reccontainer').hide()
            $('#weightcontainer').hide()
            $('#aerocontainer').show()
        })
</script>

{% endblock %}