{% extends 'vidlayout.html' %}

{% block title %}
Videos
{% endblock %} 



{% block content %}
<div class="input-group">
    <input style = "margin-left:10px;" class="form-control"
                placeholder="Search here">
    <div class="input-group-addon" ><i style = "margin-left:10px;" class="fa fa-search"></i></div>
</div>

<div class = "video">

        <video class ='videos' width="700" height="400" controls>
                <source src="{{url_for('static', filename = 'assets/hyouka1.mp4')}}" type="video/mp4">
                <source src="{{url_for('static', filename = 'assets/hyouka1.mp4')}}" type="video/webm">
                <source src="{{url_for('static', filename = 'assets/hyouka1.mp4')}}"type="video/opgg">
        </video> 


    <br>
    <p class = "title">Title: Exercise 1</p>
       <br>
    <div style = "padding-bottom:20%;" class = 'desc'>This is a test description. I need to type as many words as possible.<br>
        This is a test description. I need to type as many words as possible.
    </div>
</div>

<div style = "margin-left:10px;" class="card playlist">
    <div class="card-header">
      Playlist
    </div>
    <ul class="list-group list-group-flush">
        <li id = "ex1" class="list-group-item">Exercise 1</li>
        <li id = "ex2" class="list-group-item">Exercise 2</li>
        <li id = "ex3" class="list-group-item">Exercise 3</li>
        <li id = "ex4" class="list-group-item">Exercise 4</li>
        <li id = "ex5" class="list-group-item">Exercise 5</li>
        <li class="list-group-item">Exercise 6</li>
        <li class="list-group-item">Exercise 7</li>
    </ul>
</div>

{% endblock %}

{% block script %}

<script>
    $('#ex1').click( function(){
        $('.videos').attr('src', "{{url_for('static', filename = 'assets/hyouka1.mp4')}}")
        $('.title').text('Title: Exercise 1')
        $('.desc').html('This is an extra exercise you can do to get started! <br> Come on I need more words!')
        $(".videos video").load();
    })

    $('#ex2').click( function(){
        $('.videos').attr('src', "{{url_for('static', filename = 'assets/hyouka3.mp4')}}")
        $('.title').text('Title: Exercise 2')
        $('.desc').html('This is an extra exercise you can do to increase your banana powers! \
                     <br> Come on I need more words! More words!')
        $(".videos video").load();
    })

    $('#ex3').click( function(){
        $('.videos').attr('src', "{{url_for('static', filename = 'assets/hyouka1.mp4')}}")
        $('.title').text('Title: Exercise 3')
        $('.desc').html('This is an extra exercise you can do to increase your lifepoints! \
         <br> Come on I need more words!')
        $(".videos video").load();
    })
    $('#ex4').click( function(){
        $('.videos').attr('src', "{{url_for('static', filename = 'assets/hyouka3.mp4')}}")
        $('.title').text('Title: Exercise 4')
        $('.desc').html('This is an extra exercise you can do to run faster! <br> Come on I need more words!')
        $(".videos video").load();
    })

    $('#ex5').click( function(){
        $('.videos').attr('src', "{{url_for('static', filename = 'assets/hyouka1.mp4')}}")
        $('.title').text('Title: Exercise 5')
        $('.desc').html('This is an extra exercise you can do! <br> Come on I need more words!')
        $(".videos video").load();
    })

// Simple Search
$( document ).ready(function() {
  $('.form-control').keyup(function(){
   var valThis = $(this).val().toLowerCase();
    $('.list-group >li').each(function(){
     var text = $(this).text().toLowerCase();
        (text.indexOf(valThis) == 0) ? $(this).show() : $(this).hide();  //if-else shorthand          
   });
  });
});




</script>

{% endblock %}
