{% extends "layout.html" %}
{% block title %} Lifestyle28 | Cart {% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-section{
	padding:20px 0 110px;
}
.cart{
    width: 100%;
}
.cart h3{
    text-align: center;
}
@media only screen and (max-width:650px) {
    /* For mobile phones: */
    .menu, .main, .card{
        width:100%;
    }
    .menuitem{
        margin:0;
    }
}
</style>
<div class="cart">
    <h3>CART</h3>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in cart %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.quantity }}</td>
                <td>{{ c.price }}</td>
                <td>{{ c.subtotal }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="text-align: right; font-size: 25px; color: black"><a href="{{ url_for('shop') }}" class="btn btn-success" role="button" style="float: left; margin: 0px 50px 0px">Continue Shopping</a>Total: {{ show_cart_price() }}<a href="#" class="btn btn-success" role="button" style="float: right; margin: 0px 50px 0px 10px">Checkout</a></p>
{#    <p style="padding:0; margin:0">Total: {{ show_cart_price() }}</p>#}
</div>
{% endblock %}