{% extends 'vidlayout.html' %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} LifeStyle28 | Video  {% endblock %} 

{% block style %}
<link href= "{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">

<style>
        #search {
            height: 30px;
            width: 700px;
            margin-left: 35%;
            margin-top:-70px;
        }

        .video{
            margin-top: 5%;
        }

        .sidearea{
            margin-top:7%;
        }

        .vidusername:hover {
            text-decoration: underline; 
        }

        a { cursor: pointer; }

        ul {
           list-style-type: none;
        }
    

</style>

{% endblock %}


{% block content %}

<!-- Page Content -->


<form method = "POST" action = "{{url_for('videosearch')}}" >
    <div class="col-lg-6">
        <div style = "margin-left:-6%;" class="input-group">
            {{form.hidden_tag()}}
            {{form.search(placeholder="Search")}}
            <button style="margin-left:-5px; padding-left: 10px; margin-top:-71px; width:70px; height:32px;"  type = "submit"><i class="fa fa-search"></i></button>       
        </div>   
    </div>
</form>


<div class="video">


<video id = "playvid" width="800" height="500" controls>
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/mp4">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/webm">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/opgg">
</video> 



    
    <p style = "font-size:30px; color:black; font-weight:600; margin-top:10px;">{{title}}</p>
     
    <p style = "margin-top:5px;">{{tviews}} views</p>

    <hr>
    <p>Posted by: <a class = "vidusername" href = "{{url_for('profile', username=name)}}">{{name}}</a></p>
    <p>Published on:  {{date}} </p>
    <p>Category: {{cat}} </p>

    {% if current_user.is_authenticated %}

    <div style = "display: inline-block;">

            {% if curr_save %}

            <div style ="margin-top:-70px; float:right; padding:15px;">
                <a data-toggle="modal" data-target="#myModal4" class = "clicksave">
                    <span style = "font-size:30px;"><i id = "saveicon" class="fa-check" aria-hidden="true"></i>                    
                    </span><p class = "displaysave" style = "font-size:10px;">Saved</p>
                </a>
            </div>

            {% else %}

            <div style ="margin-top:-70px; float:right; padding:15px;">
                <a data-toggle="modal" data-target="#myModal2" class = "clicksave">
                        <span style = "font-size:30px;"><i id = "saveicon" class="fa fa-plus" aria-hidden="true"></i>                    
                        </span><p class = "displaysave" style = "font-size:10px;">Save</p>
                </a>    
            </div>
            
            {% endif %}

            <!-- Custom Modal for Save -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div style = "text-align:center;" class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Save to...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success alert-dismissible" role="alert">
                                  Video successfully saved.
                        </div>

                        <div class="alert alert-danger alert-dismissible" role="alert">
                            Video successfully removed.
                        </div>



                    <ul>
                        {% for a in all_playlist %}
                        <li>
                            <label><input type="checkbox" id = "{{a.id}}" data-playid = "{{a.id}}" class = "vid_checkbox" name = "selectvid" value="1">
                               Saved video
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                    </div>
                </div>
            </div>
       

        <a id = "cdislikes">
            
                 <div style = "margin-top:-70px; float:right; padding:15px;"><span style = "font-size:30px;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                 </span><p id = "dislikes" style = "font-size:10px;">Dislike: {{ tdislike }}</p></div>
           
         </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a id = "clikes">
                
                  <div style ="margin-top:-70px; float:right; padding:15px;"><span style = "font-size:30px;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </span><p id = "likes" style = "font-size:10px;">Like: {{ tlikes }}</p></div>
               
            </a>

       

            {% include '_space.html' %} 

            

        </div>          

    {% else %}

    &nbsp;
    &nbsp;
    &nbsp;

    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
         <p>Incorrect Email or Password! Please try again.</p>
    </div>
    {% endif %}

    {% if signup_error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
         <p>Email or Username has already been taken! Please try again.</p>
    </div>
    {% endif %}



    <p><a data-toggle="modal" data-target="#myModal1"><u>Sign up</u></a> or  <a data-toggle="modal" data-target="#myModal"><u>Login</u></a> 
        to be able to view likes/dislikes by users, like/dislike videos and save videos.</p>

    <!-- Custom Modal for Login -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style = "text-align:center;" class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method = "POST">
                {{vidform.hidden_tag()}}
                {{wtf.form_field(vidform.email)}}
                {{wtf.form_field(vidform.password)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
    </div>


    <!-- Custom Modal for Sign In -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style = "text-align:center;" class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method = "POST">
                {{vidsignup.hidden_tag()}}
                {{wtf.form_field(vidsignup.email)}}
                {{wtf.form_field(vidsignup.firstname)}}
                {{wtf.form_field(vidsignup.lastname)}}
                {{wtf.form_field(vidsignup.username)}}
                {{wtf.form_field(vidsignup.password)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
    </div>



    {% endif %}

    <hr>

    
    <div style = "white-space: pre-line;"> 
        {{desc}}
    </div>

    <hr>

    {% if current_user.is_authenticated %}
 
    <div class="form-group">
        <label for="comment"> Add comment:</label>
        <textarea id = "commentarea" name = 'text' style = "margin-left:0%;"  class="form-control" rows="5" id="comment"></textarea>
        <button id = "postvid" type = 'submit' class = 'btn btn-default'>Post</button>       
    </div> 

    {% else %}
    
    <div class="form-group">
    
    <p>Please  <a data-toggle="modal" data-target="#myModal"><u>login</u></a> to comment!</p>
    
    </div>
    
    {% endif %}

    <hr>

    <p>Comments </p>

    <br>
    <ul id = "videocomment">
        {% for c in comms %}
        <li>
            <p>Posted by: {{c.username}}</p>
            <p>{{c.comment}}</p>
        
        </li>

        <br>

        {% endfor %}

    </ul>

</div>

<div class="sidearea">
    <p style="font-size:30px; color:black;">Related Videos</p>
    <hr>
    {% for r in related %}

    <div style = "display:inline-block; vertical-align:top;">
       <img style = "height:150px;" class="related" src="{{url_for('static', filename = 'img/running.jpeg')}}">
    </div>

    <div style = "display:inline-block; margin-top: 1%;" >
        <a style = "font-size:20px; color:black; font-weight:600;"href = "{{url_for('videoz', videoid = r.id )}}">{{r.title}}</a>
        <p>Posted by: {{r.username}}</p>
        <p>Date: {{r.date}}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block script %}

<script>
    $(document).ready(function() {

        

        $('.surecheck').prop('checked', true);
        $(".alert-success").hide();
        $(".alert-danger").hide();

        $('.vid_checkbox').on('click', function(){
            var play_id = $(this).attr('data-playid');
            var checkbox = $('#' + play_id);
            console.log(checkbox.is(':checked'));
            if(checkbox.is(':checked')){
                $(".alert-success").delay(700).show().fadeOut('slow');
                console.log('true');
                console.log(play_id)
            } else {
                $(".alert-danger").delay(700).show().fadeOut('slow');
                console.log('false');
            }
        });
        
    $('#clikes').on('click', function() {
       
        req = $.ajax({
        url : "{{url_for('likevideo', videoid = vid)}}",
        type : 'POST',

      });

        req.done(function(data) {
            $('#likes').html("Like: " + data.likes);
            $('#dislikes').html("Dislike: " + data.dislikes);
        });
    });

    $('#cdislikes').on('click', function() {
    
        req = $.ajax({
        url : "{{url_for('dislikevideo', videoid = vid)}}",
        type : 'POST',

      });

        req.done(function(data) {
            $('#likes').html("Like: " + data.likes);
            $('#dislikes').html("Dislike: " + data.dislikes);
        });
    });

    $('#postvid').on('click', function() {
    var value = $('#commentarea').val();
    req = $.ajax({
      url : "{{url_for('videocomment', videoid=vid)}}",
      type : 'POST',
      data: JSON.stringify({value:value}),
      contentType: 'application/json;charset=UTF-8',
      dataType: "json"
  });

    req.done(function(data) {
      $('#videocomment').append("<li>"  + "<p>" + "Posted by: " +  data.user + "</p>" + "<p>" + data.comment + "</p>" + "</li>" + "<br>");
      $('#commentarea').val("");
    });
});


$('.clicksave').on('click', function() {
    req = $.ajax({
      url : "{{url_for('savevid', videoid = vid)}}",
      type : 'POST',
  });

    req.done(function(data) {
        if (data.save == "saved") {
            $('.displaysave').html('Saved');
            $('#saveicon').removeClass('fa fa-plus').addClass('fa-check');
            $('.clicksave').attr('data-target', '');

        } else if (data.save == "save") {
            $('.displaysave').html('Save');
            $('#saveicon').removeClass('fa-check').addClass('fa fa-plus');
            $('.clicksave').attr('data-target', '#myModal2');
        } else {
            console.log("If you see this message, please check the code and fix the errors.")
        }
    });
});

});

</script>


{% endblock %}