{% extends 'vidlayout.html' %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} LifeStyle28 | Video  {% endblock %} 

{% block style %}
<link href= "{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">

<style>
        #search {
            height: 30px;
            width: 700px;
            margin-left: 40%;
            margin-top:-70px;
        }

        .video{
            margin-top: 5%;
        }

        .sidearea{
            margin-top:7%;
        }

        .vidusername:hover {
            text-decoration: underline; 
        }
    

</style>

{% endblock %}


{% block content %}

<!-- Page Content -->


<form method = "POST" action = "{{url_for('videosearch')}}" >
    <div class="col-lg-6">
        <div class="input-group">
            {{form.hidden_tag()}}
            {{form.search(placeholder="Search")}}
            <button style="margin-left:-5px; padding-left: 10px; margin-top:-71px; width:70px; height:32px;"  type = "submit"><i class="fa fa-search"></i></button>       
        </div>   
    </div>
</form>


<div class="video">


<video width="800" height="500" controls>
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/mp4">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/webm">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/opgg">
</video> 



    
    <p style = "font-size:30px; margin-top:10px;">{{title}}</p>
     
    <p style = "margin-top:5px;">{{tviews}} views</p>

    <hr>
    <p>Posted by: <a class = "vidusername" href = "{{url_for('profile', username=name)}}">{{name}}</a></p>
    <p>Published on:  {{date}} </p>
    <p>Category: {{cat}} </p>

    {% if current_user.is_authenticated %}

    <div style = "display: inline-block;">
       

        <a href = "{{url_for('dislikevideo', videoid = vid)}}">
            
                 <div style = "margin-top:-70px; float:right; padding:15px;"><span style = "font-size:30px;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                 </span><p style = "font-size:10px;">Dislike: {{ tdislike }}</p></div>
           
         </a>

            &nbsp;
            &nbsp;
            &nbsp;

            <a href = "{{url_for('likevideo', videoid = vid)}}">
                
                  <div style ="margin-top:-70px; float:right; padding:15px;"><span style = "font-size:30px;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </span><p style = "font-size:10px;">Like: {{ tlikes }}</p></div>
               
            </a>

       

            {% include '_space.html' %} 

            {% if curr_save %}

            <!-- <a href = "{{url_for('savevid', videoid = vid)}}">
                <button id = "saved" style= "width:80px; height:80px;" type="button" class="btn btn-default btn-sm">
                    <span style = "font-size:30px;"><i class="fa-check" aria-hidden="true"></i>                    
                    </span><p style = "font-size:10px;">Saved</p>
                </button>
            </a> -->

            {% else %}

            <!-- <a href = "{{url_for('savevid', videoid = vid)}}">
                <button id = "saved" style= "width:80px; height:80px;" type="button" class="btn btn-default btn-sm">
                    <span style = "font-size:30px;"><i class="fa fa-plus" aria-hidden="true"></i>                    
                    </span><p style = "font-size:10px;">Save video</p>
                </button>
            </a>     -->
            
            {% endif %}

        </div>          

    {% else %}

    &nbsp;
    &nbsp;
    &nbsp;

    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
         <p>Incorrect Email or Password! Please try again.</p>
    </div>
    {% endif %}



    <p><a href = "{{url_for('signup')}}"><u>Sign up</u></a> or  <a data-toggle="modal" data-target="#myModal"><u>Login</u></a> 
        to be able to view likes/dislikes by users, like/dislike videos and save videos.</p>

    <!-- Custom Modal for Login -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style = "text-align:center;" class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method = "POST">
                {{vidform.hidden_tag()}}
                {{wtf.form_field(vidform.email)}}
                {{wtf.form_field(vidform.password)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
    </div>



    {% endif %}

    <hr>

    
    <div style = "white-space: pre-line;"> 
        {{desc}}
    </div>

    <hr>

    {% if current_user.is_authenticated %}
 
    <div class="form-group">
            <form method = 'POST' action = "{{url_for('videocomment', videoid = vid)}}">
            <label for="comment"> Add comment:</label>
            <textarea name = 'text' style = "margin-left:0%;"  class="form-control" rows="5" id="comment"></textarea>
            <button type = 'submit' class = 'btn btn-default'>Post</button>
            </form>
    </div>  

    {% else %}
    
    <div class="form-group">
    
    <p>Please  <a data-toggle="modal" data-target="#myModal"><u>login</u></a> to comment!</p>
    
    </div>
    
    {% endif %}

    <hr>

    <p>Comments </p>

    <br>
    <ul>
        {% for c in comms %}
        <li>
            <p>Posted by: {{c.username}}</p>
            <p>{{c.comment}}</p>
        
        </li>

        <br>

        {% endfor %}

    </ul>

</div>

<div class="sidearea">
    <p style="font-size:30px;">Related Videos</p>
    <hr>
    {% for r in related %}
    <img class="related" src="{{url_for('static', filename = 'img/running.jpeg')}}">
    <div class = 'container'>
    <a style = "margin-top:2%;" href = "{{url_for('videoz', videoid = r.id )}}">{{r.title}}</a>
    <p>Posted by: {{r.username}}</p>
    <p>Date: {{r.date}}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block script %}


{% endblock %}