{% extends 'vidlayout.html' %} 

{% block title %} Videos {% endblock %} 

{% block style %}
<link href= "{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{% endblock %}


{% block content %}

<!-- Page Content -->

<div class="input-group">
    <input class="form-control" placeholder="Search Videos">
    <div class="input-group-addon">
        <a href="free.html">
            <i class="fa fa-search"></i>
        </a>
    </div>
</div>


<div class="video">


<video width="800" height="500" controls>
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/mp4">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/webm">
    <source src="{{url_for('static', filename = 'assets/' + link)}}" type="video/opgg">
</video> 



    
    <p style = "font-size:30px; margin-top:10px;">{{title}}</p>
     
    <p style = "margin-top:5px;">1,000,000 views</p>

    <hr>
    <p>Posted by: {{name}}</p>
    <p>Date and Time: {{date}} </p>
    <p>Category: {{cat}} </p>

    <p>
            <button style= "width:80px; height:60px;" type="button" class="btn btn-default btn-sm">
              <span style = "font-size:30px;" class="glyphicon glyphicon-thumbs-up"></span> <p style = "font-size:10px;">Like: 1000</p>
            </button>
    </p>
    <hr>

    
    <p class = desc> 
        {{desc}}
    </p>

    <hr>
 
    <div class="form-group">
            <form method = 'POST' action = "{{url_for('videocomment', videoid = vid)}}">
            <label for="comment"> Add comment:</label>
            <textarea name = 'text' style = "margin-left:0%;"  class="form-control" rows="5" id="comment"></textarea>
            <button type = 'submit' class = 'btn btn-default'>Post</button>
            </form>
    </div>  

    <hr>

    <p>Comments </p>

    <br>
    <ul>
        {% for c in comms %}
        <li>
            <p>Posted by: {{c.username}}</p>
            <p>{{c.comment}}</p>
        
        </li>

        <br>

        {% endfor %}

    </ul>

</div>

<div class="sidearea">
    <p style="font-size:30px;">Related Videos</p>
    <hr>
    <img class="related" src="img/healthy2.jpg">
    <p>Healthy Food B</p>
    <img class="related" src="img/healthy3.jpg">
    <p>Healthy Food C</p>
    <img class="related" src="img/healthy4.jpg">
    <p>Healthy Food D</p>
    <img class="related" src="img/healthy5.jpg">
    <p>Healthy Food E</p>
</div>


{% endblock %}

{% block script %}

{% endblock %}