{% extends 'dashboard.html' %}

{% block dashtitle %}
Flagged
{% endblock %}

{% block style %}

<style>
  .dates:link, .dates:hover, .dates:active, .dates:visited { color: grey; text-decoration: none; }
  a { cursor: pointer; }
</style>

{% endblock %}

{% block dashboard %}

<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="5%"> <a class = "dates" href = "#"> From </a></th>
            <th width="15%"><a id = "subject" class = "dates" href = "#"> Subject </a></th>
            <th width="15%"><a id = "date" class = "dates" href = "#"> Date </a></th>
          </tr>
        </thead>
        <tbody>
          {% for i in flagged %}
          <tr>
            <td><a href = "{{url_for('profile', username=i.sender)}}">{{i.sender}}</a></td>
            <td><a href = "{{url_for('flaggedmsg', id=i.id)}}">{{i.subject}}</a></td>
            <td width = "2%">{{i.date}}</td> 

            <td width = "5%">
              <a href = "{{url_for('removeflag', id = i.id)}}">
                  <i class="fa fa-ban"></i> Remove 
              </a>
            </td>

          </tr>
          {% endfor %}
        </tbody>
</table>

{% endblock %}

{% block script %}

<script>
$(document).ready(function() { 

  $('#subject').on('click', function() {

    req = $.ajax({
    url : "{{url_for('sortflagasc', type = 'subject')}}",
    type : 'POST',
  
    });

    req.done(function(data) {
          $('.table').empty();
          $('.table').append(data.flagged);
    });
    
  });


  $('#date').on('click', function() {

    req = $.ajax({
    url : "{{url_for('sortflagasc', type = 'date')}}",
    type : 'POST',
  
    });

    req.done(function(data) {
          $('.table').empty();
          $('.table').append(data.flagged);
    });
    
  });

});

</script>

{% endblock %}
