{% extends 'vidlayout.html' %} 

{% block title %} 

LifeStyle28 | Video 

{% endblock %} 

{% block style %}
<link href="{{url_for('static', filename='css/new-style.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">

<style>
    #search {
        height: 30px;
        width: 700px;
        margin-left: 30%;
    }

    .searchy {
        margin-top: 30px;
        margin-left:50px;
    }

    html, body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

   

    .section-01 .title-small {
        font-size:25px;
    }

    .viewall {
        padding-left: 12px;
    }

    .text-time {
        color:black;
        font-size:10px;
    }



</style>

{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('videosearch')}}">
    <div class="col-lg-6">
        <div class="input-group searchy">
            {{form.hidden_tag()}} {{form.search(placeholder="Search")}}
            <button style="margin-left:-5px; margin-top:8px; width:65px; height:32px;" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>


<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Latest</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class="title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <a href = "{{url_for('profile', username = a.username)}}" class="text-time">
                                        <em>{{a.username}}</em>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Recommended</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class=" title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <p class="text-time">
                                       <em>{{a.username}}</em>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Food</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class=" title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <p class="text-time">
                                        <em>{{a.username}}</em>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Educational</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class=" title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <p class="text-time">
                                        <em>{{a.username}}</em>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Music</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class=" title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <p class="text-time">
                                        <em>{{a.username}}</em>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section-01 float-left w-100 py-5">
    <div style = "margin-top:-100px;"class="container-fluid">
        <div class="row px-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading-large">Exercise</h3>
                    </div>

                    {% for a in allvid %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
                            <div class="card-body">
                                <div class="news-title">
                                    <p class=" title-small">
                                        <a href="{{url_for('videoz', videoid = a.id)}}">{{a.title}}</a>
                                    </p>
                                </div>
                                <p class="card-text">{{a.description}}</p>
                                <p class="card-text">
                                    <p class="text-time">
                                        <em>{{a.username}}</em>
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <a style ="padding-bottom:20px;" class = "viewall">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %} 

{% block script %}

<script src="{{url_for('static', filename='js/popper.js')}}"></script>
<script src="{{url_for('static', filename='js/lightbox-plus-jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lity.min.js')}}"></script>

{% endblock %}

<script>
</script>