{% extends 'layout.html' %}

{% block style %}

<style>
    .btn {
        height:100px;
        width:250px;
    }

    .col-sm-6 {
        width:420px;
    }

    .row {
        margin-top:10px;
        margin-left:17%;
    }

    .container{
        padding-bottom:30px;
    }

    .business-talking {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
        url('../static/img/fitgen.jpg') top center no-repeat;
        background-size:cover;
        padding:60px 0 10px;
        text-align:center;

    }

    .btitle {
        margin-top: 12%;
    }
    
</style>

{% endblock %}


{% block content %}

<section style = "margin-top:1px;" class="business-talking">
		<!--business-talking-start-->
		<div class="container">
            <h2 style = "height:20px;">Fitness Workout Library</h2>
            <p style = "margin-top: -10px; color:white; font-size:15px; ">Access a great wealth of information with just a click.</p>
		</div>
</section>

<div class = "container">
<p style="padding:5px; font-size:40px; text-align:center;">Select desired workout style.</p>
    <div class = "row">
        <div class = "col-sm-6">
            <a href = "{{url_for('fitresults', type= 'cali')}}" id = "cali" class = "btn btn-default"><p class = "btitle">Calisthenics</p></a>
        </div>

        <div class = "col-sm-6">
                <a href = "{{url_for('fitresults', type= 'tabata')}}" id = "weights" class = "btn btn-default"><p class = "btitle">Weight-lifting</p></a>
        </div>

        <div class = "col-sm-6">
                <a href = "#" id = "tabata" class = "btn btn-default"><p class = "btitle">Tabata</p></a>
        </div>

        <div class = "col-sm-6">
                <a href = "#" id = "endurance" class = "btn btn-default"><p class = "btitle">Endurance</p></a>
        </div>
    </div>
</div>



<script type="text/javascript">
    
        $(document).ready(function(){
    
            $("#endurance").popover({

                trigger: 'hover',
    
                title: '<h3 class="custom-title"><span class="glyphicon glyphicon-info-sign"></span> Endurance </h3>',
    
                content: '<p>Running, weight-lifting, or calisthenics exercises done with higher amount of reps.</p>',
    
                html: true
    
            }); 


            $("#tabata").popover({

                trigger: 'hover',
    
                title: '<h3 class="custom-title"><span class="glyphicon glyphicon-info-sign"></span> Tabata </h3>',
    
                content: '<p>A type of high intensity interval training done in 20 seconds intervals with 10 seconds rest in between each interval for 8 rounds.</p>',
    
                html: true
    
            }); 


            $("#weights").popover({

                trigger: 'hover',
    
                title: '<h3 class="custom-title"><span class="glyphicon glyphicon-info-sign"></span> Weight-lifting </h3>',
    
                content: '<p>Exercises done with weights such as dumbbells and barbells for example.</p>',
    
                html: true
    
            }); 

            $("#cali").popover({

                trigger: 'hover',
    
                title: '<h3 class="custom-title"><span class="glyphicon glyphicon-info-sign"></span> Calisthenics </h3>',
    
                content: '<p>Exercises done creatively with only your bodyweight. Either done with street equipments such as pull-up bars and parallel bars, or simply with no equipments.</p>',
    
                html: true
    
            }); 
    
        });
    
</script>
    
    

{% endblock %}