{% extends "layout.html" %}
{% block title %} Shop | {{ item.name }} {% endblock %}

{% block content %}

    <section class="main-section" style="margin: 0; padding: 0">
		<!--main-section-start-->
		<div class="container">
            <div class="">
                <h2>{{ item.name }}</h2>
                <img style="width: 50%"  src="http://placehold.it/750x450">
                <ul style="list-style: none;">
                    <li style="margin-bottom: 2%"><h4>{{ item.info }}</h4></li>
                    <li style="margin-bottom: 2%"><h4>{{ item.description }}</h4></li>
                    <li style="margin-bottom: 2%"><h4>{{ item.price }}</h4></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
