<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/png">
	<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
	<link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet" type="text/css">
	<link href= "{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" type="text/css">
	<link href= "{{url_for('static', filename='css/animate.css')}}" rel="stylesheet" type="text/css">
	<link href="{{url_for('static', filename='css/user.css')}}" rel="stylesheet" type="text/css">
	<link href= "{{url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	{% block style %} 
	{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	{% block script %}
	{% endblock %}
	

	<!-- =======================================================
    Theme Name: Knight
    Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body>

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				
				<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Features
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('shop') }}">Shopping Cart</a></li>
							<li><a href="{{ url_for('recipe') }}">Recipe</a></li>
							<li><a href="{{ url_for('explorevideo') }}">Video</a></li>
							<li><a href="{{ url_for('gym_page') }}">Gym Finder</a></li>
							<li><a href="{{ url_for('blog') }}">Blog</a></li>
						</ul>
				</li>

				<li><a href="#">About</a></li>
				<li class="small-logo"><a href="#header"><img src="{{url_for('static', filename='img/small-logo.png')}}" alt=""></a></li>
				<li><a href="{{ url_for('index', _anchor='contact') }}">Contact</a></li>
				
				{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('dashboard') }}">{{ current_user.username }}</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>

				{% else %}
					{% block videologin %}
					<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endblock %}
				{% endif %}

			</ul>
			<a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->
            
            {% block content %}
            {% endblock %}
    
</body>

</html>