{% extends 'vidlayout.html' %}

{% block title %}
Videos
{% endblock %} 



{% block content %}

<div style="margin-bottom: -40px;">
    <a href = "{{url_for('fitgen')}}" style="width:180px; margin-left:5px; margin-top: 20px; color:black; " class="btn btn-secondary">Return to Selections</a>
</div>


<div class="input-group">
    <input id = "searchinput" onkeyup="search()" style = "margin-left:10px; margin-top:-5px;" class="form-control"
                placeholder="Search here">
    <div style = "margin-top:-5px;" class="input-group-addon" ><i style = "margin-left:7px;" class="fa fa-search"></i></div>
</div>


<div style = "margin-left:10px;" class="card playlist">
    <div class="card-header">
      Library
    </div>
    <ul id = "searchlist" class="list-group list-group-flush">
        {% for r in result %}
        <li id = "cali{{loop.index}}" class="list-group-item">
           <a href = "{{url_for('libload', title = r.title)}}">{{r.title}}</a> 
        </li>
        {% endfor %}
        
    </ul>
</div>

{% endblock %}

{% block script %}

<script>
   function search() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('searchinput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("searchlist");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
