{% extends 'vidlayout.html' %}

{% block title %}
Videos
{% endblock %} 

{% block style %}
<style>
a:hover {
    cursor: pointer;
}

</style>

{% endblock %}


{% block content %}

<div style="margin-bottom: -40px;">
    <a href = "{{url_for('viewplaylist')}}" style="width:180px; margin-left:5px; margin-top: 20px; color:black; " class="btn btn-secondary">Return to Selections</a>
</div>


<div class="input-group">
    <input id = "searchinput" onkeyup="search()" style = "margin-left:10px; margin-top:-5px;" class="form-control"
                placeholder="Search here">
    <div style = "margin-top:-5px;" class="input-group-addon" ><i style = "margin-left:5px;" class="fa fa-search"></i></div>
</div>


<div class="video">

    <video class='videos' width="700" height="400" controls>

        <source src="{{url_for('static', filename = 'assets/' + load_vid.link)}}" type="video/mp4">
        <source src="{{url_for('static', filename = 'assets/' + load_vid.link )}}" type="video/webm">
        <source src="{{url_for('static', filename = 'assets/' + load_vid.link )}}" type="video/opgg">

    </video>


    <p style = "font-size:20px;" class="extitle"><b>{{load_vid.title}}</b></p>
    <div style="padding-bottom:10%; white-space: pre-line;" class='exdesc'>
        {{load_vid.description}}
    </div>
</div>



<div style = "margin-left:10px;" class="card playlist">
    <div class="card-header">
           Playlist
        <a data-toggle="modal" data-target="#myModal"><i style = "font-size:15px; margin-top:3px; margin-left:195px;"class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <ul id = "searchlist" class="list-group list-group-flush">

        {% for p in playlist_vids  %}
      
        <li id='{{p.id}}' class="list-group-item">
           <a href = "{{url_for('load_playlist_vid', id = p.video_id)}}">{{p.title}}
                <a href = "{{url_for('delete_playlist_vid', id = p.id)}}" type="button" class="close ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </a> 
        </li>

        {% endfor %}       
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Saved Videos</h5>
          <button type= "button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        <form action = "{{url_for('playlist_vid', id = play_id)}}" method = "POST">
          <ul style = "margin-left:-40px;">
            {% for s in savedvids  %}
      
            <li class="list-group-item">
                <label><input type="checkbox" name = "selectvid" value="{{s.videoid}}">  {{s.title}}</label> 
            </li>
    
            {% endfor %}     
          </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Confirm" class="btn btn-primary">
        </div>
        </form>
      </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

<script>

$( function(){
    $('#searchlist').sortable({
        axis: 'y',
        update: function (event, ui) {
            var value = $(this).sortable('toArray' );
            console.log(value);
    
            // POST to server using $.post or $.ajax
            $.ajax({
                type: 'POST',
                url: "{{url_for('update_order')}}",
                data: JSON.stringify({value:value}),
                contentType: 'application/json;charset=UTF-8',
                dataType: "json"
            });
        }
    });
  });


   function search() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('searchinput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("searchlist");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
