{% extends 'dashboard.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block dashboard %}



<div style = "padding:15px;">

<p><b>From:</b> &nbsp; <pre style = "font-family: 'Open Sans', sans-serif;"> {{view_msg.sender}} </pre></p>
<br>
<p><b>Subject:</b> &nbsp; <pre style = "font-family: 'Open Sans', sans-serif;"> {{view_msg.subject}} </pre></p>

<br>

<p><b>Message:</b> &nbsp; <pre style = "font-family: 'Open Sans', sans-serif;"> {{view_msg.message}} </pre></p>

<br>

<a href = "{{url_for('viewflagged')}}" style = "width:80px;" class="btn btn-default">Return</a> &nbsp; &nbsp;
<a data-toggle="modal" data-target="#myModal" style = "width:80px;" class="btn btn-default">Reply</a>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style = "text-align:center;" class="modal-header">
              <h5 class="modal-title pull-left" id="exampleModalLabel">Reply</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method = "POST">
                    {{form.hidden_tag()}}
                    {{wtf.form_field(form.to)}}
                    {{wtf.form_field(form.subject)}} 
                    {{wtf.form_field(form.message)}} 
                <input style = "width:80px;"class="btn btn-default" type ="submit" value="Send">
              </form>
            </div>
          </div>
        </div>
</div>

{% endblock %}

{% block dashtitle %}
View Message
{% endblock %}