{% extends 'layout.html' %}

{% block style %}

<style> 
    .btn {
        height:50px;
        width:125px;
    }

    .row {
        margin-top:5%;
        margin-left:35%;
        font-size:30px;
        padding-bottom:20px;
    }

    .container{
        padding-bottom:30px;
    }

    .business-talking {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
        url("{{url_for('static', filename='img/fitgen.jpg')}}") top center no-repeat;
        background-size:cover;
        padding:60px 0 10px;
        text-align:center;

        

    }
    
</style>

{% endblock %}


{% block content %}

<section style = "margin-top:1px;" class="business-talking">
		<!--business-talking-start-->
		<div class="container">
            <h2 style = "height:20px;">Fitness Workout Generator</h2>
            <p style = "margin-top: -10px; color:white; font-size:15px; ">Test your fitness with just a click.</p>
		</div>
</section>

<div class = "container">
<p style="padding:5px; font-size:40px; text-align:center;">Generated workout.</p>
    <div class = "row">
        <p style = "white-space: pre-line;">{{result.workout}}</p>
    </div>
    <div style = "display:inline-block; margin-left:35%;">
       <a href = "{{url_for('fitgen')}}" class = "btn btn-default"><p style = "margin-top:5%;" >Return</p></a>
       &nbsp;
       &nbsp;
       &nbsp;
       <button onclick = "location.reload()" class = "btn btn-default">Refresh</button>
       
    </div>
</div>

{% endblock %}