{% extends 'dashboard.html' %}

{% block dashtitle %}
Sent
{% endblock %}

{% block dashboard %}

<table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="5%"> To </th>
            <th width="15%"> Subject </th>
          </tr>
        </thead>
        <tbody>
          {% for i in sent %}
          <tr>
            <td><a href = "{{url_for('profile', username=i.target)}}">{{i.target}}</a></td>
            <td><a href = "{{url_for('viewsent', id=i.id)}}">{{i.subject}}<span class="badge pull-right">{{i.date}}</span></a> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
</table>

{% endblock %}