{% extends "layout.html" %}
{% block title %} Lifestyle28 | Shop {% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-section{
	padding:20px 0 110px;
}
.menu {
    float:left;
    width:20%;
    text-align:center;
    margin: 2% 0% 2%;
    text-transform: uppercase;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menuitem{
    background-color:#e5e5e5;
    padding:8px;
    margin-top:0px;
    margin-left: 20px;
}
.menuitem:hover{
    background-color: #cccccc;
}
.main {
    float:left;
    width:80%;
    padding:0 20px;
}
.card{
    width: 20%;
    float: left;
    margin: 10px 10px 10px 0px;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .cardcontainer{
    position: relative;
    margin: 0;
    padding: 0;
}
.card img{
    width: 100%;
}
.card .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}
.card .button img{
    padding: 20px;
    width: 60px;
    background-color: white;
    transition: opacity .35s ease;
}
.card .cardcontainer:hover .button{
    opacity: 1;
}
.card .cardcontainer .button img:hover{
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}
.card .cardcontainer:hover .overlay{
    display: block;
    background: rgba(0, 0, 0, .3);
}
.cardinfo{
    padding: 5px 5px 5px;
}
.cardinfo a{
    color: black;
}
p{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:650px) {
    /* For mobile phones: */
    .menu, .main, .card{
        width:100%;
    }
    .menuitem{
        margin:0;
    }
}.checked {
    color: orange;
}
</style>

<div style="overflow:auto">
    <div class="menu">
        <a href="{{ url_for('cart') }}"><div class="menuitem" style="margin-bottom: 5%; border-radius: 5px;"><img src="{{ url_for('static', filename='img/cart.png') }}" style="width: 7%"> Cart (<span>{{ cart_count() }}</span>)</div></a>
        <a href="{{ url_for('filter', category="meat") }}"><div class="menuitem">meat & seafood</div></a>
        <a href="#"><div class="menuitem">fruit & veg</div></a>
        <a href="#"><div class="menuitem">frozen</div></a>
        <a href="#"><div class="menuitem">dairy</div></a>
        <a href="#"><div class="menuitem">bakery</div></a>
        <a href="#"><div class="menuitem">beverages</div></a>
    </div>

    <div class="main">
        <h3>SHOP</h3>
        {% for item in items %}
        <div class="card">
            <div class="cardcontainer">
{#                <img src="http://placehold.it/200x250">#}
                <img src="{{ url_for('static', filename='img/item/' ~ item.id ~ ".jpg") }}">
                <div class="overlay"></div>
                <div class="button">
                    <a href="{{ url_for('addCart', item_id=item.id) }}"><img src="{{ url_for('static', filename='img/cart.png') }}"></a>
                </div>
            </div>
            <div class="cardinfo">
                <p style="float: left"><b><a href="{{ url_for('item', item_id=item.id) }}">{{ item.name }}</a></b><br>{{ item.info }}</p>
                <p style="text-align: right; overflow: auto">${{ item.price }}</p>
{#                <p style="float: right;"><span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span>#}
{#                    <span class="fa fa-star checked"></span></p>#}
                <p style="float: right;">
                {% if item.rating == 5 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span> ({{ item.rating_count }})
                {% endif %}
                {% if item.rating == 4 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span> ({{ item.rating_count }})
                {% endif %}
                {% if item.rating == 3 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span> ({{ item.rating_count }})
                {% endif %}
                {% if item.rating == 2 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span> ({{ item.rating_count }})
                {% endif %}
                {% if item.rating == 1 %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span> ({{ item.rating_count }})
                {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}