{% extends 'vidlayout.html' %} 

{% block title %} Videos {% endblock %} 

{% block style %}
<style>

ul {
    margin-left: 0;
    padding-left: 0;
}
li {
    margin-left: 1em;
}

</style>



{% endblock %}

{% block content %}


<a style = "margin-left: 35%; margin-top:10%;"  class="btn btn-secondary" 
href = "{{ url_for('beginnervideo') }}">

<h1><u>Beginner</u></h1>

<ul style = "text-align:center;">
    <li>One structured course painstakingly <br> crafted for beginners.</li>
    <li>Easy to follow.</li>
    <li>Do at your own pace.</li>
</ul>

</a>

<br>



<a class="btn btn-secondary" role="button"  style = "margin-left: 35%; margin-top:10%;" 
href = "{{ url_for('advancedvideo') }}">

<h1><u>Advanced</u></h1>

<ul style = "text-align:center;">
    <li>Multiple advanced structured courses avaliable.</li>
    <li>Not for the faint-hearted.</li>
    <li>Push your limits.</li>
</ul>

</a>

{% endblock %}