{% extends 'vidlayout.html' %}

{% block title %} LifeStyle28 | Video  {% endblock %} 

{% block video %}
<li><a href="{{ url_for('dashboard') }}">{{ current_user.username }}</a></li>
<li><a href="{{ url_for('vid_logout') }}">Logout</a></li>
{% endblock %}

{% block videologin %}
<li><a href="{{ url_for('vid_signup') }}">Sign Up</a></li>
<li><a href="{{ url_for('vid_login') }}">Login</a></li>
{% endblock %}


{% block style %}
<link href= "{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">

<style>
    .vidcontainer{
        margin-top:8%;
        margin-left:32%;
    }

    #search {
        height: 30px;
        width: 700px;
        margin-left: 40%;
        margin-top:-70px;
    }

    .title-small {
        color:black;
        font-size:25px;
        font-weight: 600;
    }

    .vidusername:hover {
            text-decoration: underline; 
        }

    .vidusername:hover, .vidusername:visited, .vidusername:link, .vidusername:active {
        color:black;
        font-weight:600;
    }

    .title-small:hover, .title-small:visited, .title-small:link, a:active {
          color:black;
          font-weight: 600;
   }

   .filter {
      background:transparent;
      border: 0px;
      color:grey;
   }






</style>

{% endblock %}

{% block content %}

<form style = "margin-top:130px;" method = "POST" action = "{{url_for('videosearch')}}" >
        <div class="col-lg-6">
            <div style = "margin-left: -20px;" class="input-group">
                {{form.hidden_tag()}}
                {{form.search(placeholder="Search")}}
                <button style="margin-left: -15px; padding-left: 10px; margin-top:-71px; width:70px; height:32px;"  type = "submit"><i class="fa fa-search"></i></button>       
            </div>   
        </div>
</form>
    

<div class = "vidcontainer">

    <div class = "dropdown" style = "float:left; margin-top:-75px; margin-left: -35%;">
       <p data-toggle="dropdown" style = "font-size:18px; color:black;"><i class="fa fa-list" aria-hidden="true"></i> FLITER BY</p>
        <div class="dropdown-menu filter" aria-labelledby="dLabel">
            <ul style="list-style: none;">
               <li id = "foodz"><a href = "#"> Food </a></li>
               <li id = "musicz"><a href = "#"> Music </a></li>
               <li id = "eduz"><a href = "#"> Educational </a></li>
               <li id = "exercisez"><a href = "#"> Exercise </a></li>
            </ul>
        </div>
    </div>

    {% for s in search %}

    <div class = "searchdiv"> 

        <div style = "display:inline-block; vertical-align:top;">
            <img style = "height:150px; margin-top:18px; "class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
        </div> 
            
        <div style = "display:inline-block; padding:10px;">
            <a class=" title-small" href="{{url_for('videoz', videoid = s.id)}}">{{s.title}}</a> 
            <p class="card-text">{{s.description }}</p>
            <a class = "vidusername" href = "{{url_for('profile', username = s.username)}}"class="card-text">{{s.username }}</a>
        </div>

    </div>

    <br>

    {% else %}

    <p style = "font-size:20px;">Your search returned nothing.<br>
         Click <a href = "{{url_for('explorevideo')}}"><u>here</u></a> to return or make another search.
    </p>

    {% endfor %}

</div>



{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#foodz').on('click', function() { 
        var value = $('#search').val()
        req = $.ajax({
        url : "{{url_for('videofilter', option = 'food')}}",
        type : 'POST',
        data: JSON.stringify({value:value}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
      });
        req.done(function(data) {
            $('.searchdiv').empty().remove();
            $('.fsearch').empty().remove();
            $('.fsearch div').empty().remove();
            $('.errsearch').empty().remove();
            $('.vidcontainer').append(data.search);
            $('br').remove();
        });
    });

    $('#eduz').on('click', function() { 
        var value = $('#search').val()
        req = $.ajax({
        url : "{{url_for('videofilter', option = 'educational')}}",
        type : 'POST',
        data: JSON.stringify({value:value}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
      });
        req.done(function(data) {
            $('.searchdiv').empty().remove();
            $('.fsearch').empty().remove();
            $('.fsearch div').empty().remove();
            $('.errsearch').empty().remove();
            $('br').remove();
            $('.vidcontainer').append(data.search);
        });
    });

    $('#musicz').on('click', function() { 
        var value = $('#search').val()
        req = $.ajax({
        url : "{{url_for('videofilter', option = 'music')}}",
        type : 'POST',
        data: JSON.stringify({value:value}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
      });
        req.done(function(data) {
            $('.searchdiv').empty().remove();
            $('.fsearch').empty().remove();
            $('.fsearch div').empty().remove();
            $('.errsearch').empty().remove();
            $('br').remove();
            $('.vidcontainer').append(data.search);
        });
    });

    $('#exercisez').on('click', function() { 
        var value = $('#search').val()
        req = $.ajax({
        url : "{{url_for('videofilter', option = 'exercise')}}",
        type : 'POST',
        data: JSON.stringify({value:value}),
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
      });
        req.done(function(data) {
            $('.searchdiv').empty().remove();
            $('.fsearch').empty().remove();
            $('.fsearch div').empty().remove();
            $('.errsearch').empty().remove();
            $('br').remove();
            $('.vidcontainer').append(data.search);
        });
    });
});
</script>
{% endblock %}