{% extends 'vidlayout.html' %}

{% block title %} Videos {% endblock %} 


{% block style %}
<link href= "{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href= "{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">

<style>
    .vidcontainer{
        margin-top:6%;
        margin-left:32%;
    }

    #search {
        height: 30px;
        width: 700px;
        margin-left: 40%;
        margin-top:-70px;
    }

    .title-small {
        color:black;
        font-size:25px;
    }

    .vidusername:hover {
            text-decoration: underline; 
        }
    


</style>

{% endblock %}

{% block content %}

<form method = "POST" action = "{{url_for('videosearch')}}" >
        <div class="col-lg-6">
            <div style = "margin-left: -20px;" class="input-group">
                {{form.hidden_tag()}}
                {{form.search(placeholder="Search")}}
                <button style="margin-left: -15px; padding-left: 10px; margin-top:-71px; width:70px; height:32px;"  type = "submit"><i class="fa fa-search"></i></button>       
            </div>   
        </div>
</form>
    

<div class = "vidcontainer">

    {% for s in search %}
    <div class="col-md-6">
            <div class="card mb-4">
                    <img class="img-fluid" src="{{url_for('static', filename = 'img/lifestyle.jpg')}}" alt="Generic Placeholder Image">
            <div style = "padding:5px;" class="card-body">
                <div class="news-title">
                <p class=" title-small"><a href="{{url_for('videoz', videoid = s.id)}}">{{s.title}}</a></p>
                </div>

                <div style = "padding-top:5px;">
                    <p class="card-text">{{s.description }}</p>
                    <a class = "vidusername" href = "{{url_for('profile', username = s.username)}}"class="card-text">{{s.username }}</a>
                </div>

            </div>
        </div>
    </div>

    {% else %}

    <p style = "font-size:20px;">Your search returned nothing.<br>
      Click <a href = "{{url_for('explorevideo')}}"><u>here</u></a> to return or make another search.
    </p>

    {% endfor %}

</div>

</div>




{% endblock %}