{% extends 'dashboard.html' %} {% block dashtitle %} Playlists {% endblock %} {% block style %}

<style>
    .title-small:hover,
    .title-small:visited,
    .title-small:link,
    a:active {
        color: black;
        font-weight: 600;
    }

    .vidusername:hover,
    .vidusername:visited,
    .vidusername:link,
    a:active {
        color: grey;
        font-weight: 600;
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: grey;
        text-decoration: none;
        /* no underline */
        cursor: pointer;
    }

    .row{
        width:100%;
    }


</style>

{% endblock %} 

{% block dashboard %}
<div class = "container">
<a style = "color:black; margin-top: 10px; margin-left: 700px; width:250px;" class="btn btn-default">
    <p style="font-size:15px;">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Create New Playlist
    </p>
</a>
</div>

<div class = "container">
    <div class = "row">
            <div class="col-md-6">
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <p>title</p>
            </div>

            <div class="col-md-6">
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <p>title</p>
            </div>

            <div class="col-md-6">
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <p>title</p>
           </div>


           <div class="col-md-6">
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <p>title</p>
           </div>
    </div>
</div>



{% endblock %}