{% extends 'vidlayout.html' %}

{% block title %}
Videos
{% endblock %} 

{% block style %}
<style>
a:hover {
    cursor: pointer;
}

#searchlist {
    width:298px;
    overflow-y: auto;
    height: 440px;
}

</style>

{% endblock %}


{% block content %}

<div style="margin-bottom: -40px;">
    <a href = "{{url_for('viewplaylist')}}" style="width:180px; margin-left:5px; margin-top: 20px; color:black; " class="btn btn-secondary">Return to Selections</a>
</div>


<div class="input-group">
    <input id = "searchinput" onkeyup="search()" style = "margin-left:10px; margin-top:-5px;" class="form-control"
                placeholder="Search here">
    <div style = "margin-top:-5px;" class="input-group-addon" ><i style = "margin-left:5px;" class="fa fa-search"></i></div>
</div>



<div style = "margin-left:10px;" class="card playlist">
    <div class="card-header">
           Playlist
        <a data-toggle="modal" data-target="#myModal"><i style = "font-size:15px; margin-top:3px; margin-left:195px;"class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <ul id = "searchlist" class="list-group list-group-flush">

        {% for p in playlist_vids  %}
      
        <li id='{{p.id}}' class="list-group-item">
           <a href = "{{url_for('load_playlist_vid', id = p.id)}}">{{p.title}}
                <a type="button" name = "{{p.id}}" class="close ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </a> 
        </li>

        {% endfor %}       
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Saved Videos</h5>
          <button type= "button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

       
          <ul style = "margin-left:-40px;">
            {% for s in savedvids  %}
      
            <li class="list-group-item">
                <label><input type="checkbox" class = "vid_checkbox" name = "selectvid" value="{{s.videoid}}">  {{s.title}}</label> 
            </li>
    
            {% endfor %}     
          </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary confirm" data-dismiss="modal">Confirm</button>
        </div>
     
      </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

<script>

$(function(){
    $('#searchlist').sortable({
        axis: 'y',
        update: function (event, ui) {
            var value = $(this).sortable('toArray' );
            console.log(value);
    
            // POST to server using $.post or $.ajax
            $.ajax({
                type: 'POST',
                url: "{{url_for('update_order')}}",
                data: JSON.stringify({value:value}),
                contentType: 'application/json;charset=UTF-8',
                dataType: "json"
            });
        }
    });
  });

  $('.close').on('click', function() {
    var playlist_id = $(this).attr('name');

    req = $.ajax({
    url : '/dashboard/playlist/viewvideo/delete/' + playlist_id,
    type : 'POST',

    });

    req.done(function(data) {
        $('.playlist').empty();
        $('.playlist').append(data.playlist);
    });

});


$('.confirm').on('click', function() {
    var url = window.location;
    var url_string = String(url);
    var url_tracker = true;
    var url_array = [];
    var counter = 1;

    while(url_tracker) {
        var url_char = url_string[url_string.length-counter]
        url_array.append(url_char)
        counter += 1

        if (url_char == '/') {
            url_tracker = false;
        } 

    }

    var reverse_url_array = url_array.reverse();

    var reverse_url_array_length = reverse_url_array.length;

    var playlist_id = ''

    for (var i = 0; i < reverse_url_array_length; i++) {
        playlist_id += reverse_url_array[i];
    }

    var checkedvalue_array = [];
    var checkedvalue = $('.vid_checkbox:checked').each(function(){
        checkedvalue_array.push($(this).val())
        });
    
    
    req = $.ajax({
    url : '/dashboard/playlist/viewvideo/add/' + playlist_id,
    type : 'POST',
    data: JSON.stringify({checkedvalue_array:checkedvalue_array}),
    contentType: 'application/json;charset=UTF-8',
    dataType: "json"

    });

    req.done(function(data) {
        $('.playlist').empty();
        $('.playlist').append(data.playlist);
    });

});


$('.test').on('click', function() {
    

    console.log(checkedvalue_array);
});

   function search() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('searchinput');
    filter = input.value.toUpperCase();
    check_value = input.value
    ul = document.getElementById("searchlist");
    li = ul.getElementsByTagName('li');

    if (check_value != ''){
        $('#searchlist').sortable('disable'); 
    } else if (check_value == '') {
        $('#searchlist').sortable("enable"); 
    }

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
