{% extends 'dashboard.html' %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block dashtitle %} Playlists {% endblock %} 

{% block style %}

<style>
    .title-small:hover,
    .title-small:visited,
    .title-small:link,
    a:active {
        color: black;
        font-weight: 600;
    }

    .vidusername:hover,
    .vidusername:visited,
    .vidusername:link,
    a:active {
        color: grey;
        font-weight: 600;
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: grey;
        text-decoration: none;
        /* no underline */
        cursor: pointer;
    }

    .row{
        width:100%;
    }

    .playlist{
        width:350px;
    }

    .close{
        font-size: 25px;
        margin-right: -5px;
        margin-top:-4px;
    }


</style>

{% endblock %} 

{% block flash %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock %}

{% block dashboard %}
<div class = "container">
    <a data-toggle="modal" data-target="#myModal" style = "color:black; margin-top: 10px; margin-left: 700px; width:250px;" class="btn btn-default">
        <p style="font-size:15px;">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Create New Playlist
        </p>
    </a>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style = "text-align:center;" class="modal-header">
          <h4 class="modal-title pull-left" id="exampleModalLabel"><b>Create Playlist</b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "POST">
                {{form.hidden_tag()}}
                {{wtf.form_field(form.title)}}
                {{wtf.form_field(form.desc)}} 
            <input style = "width:100px;" class="btn btn-default" type ="submit" value="Create">
          </form>
        </div>
      </div>
    </div>
</div>


<div class = "container">
    <div class = "row">

        {% for p in playlist %}

            <div class="col-md-6 playlist">
                <button type="button" class="close" data-toggle="modal" data-target="#myModal{{p.id}}" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <a href = "{{url_for('playlist_vid', id = p.id)}}"><p><b>{{p.title}}</b></p></a>
                <p>{{p.desc}}</p>
            </div>

            <div id="myModal{{p.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><b>Confirm Delete</b></h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to delete this playlist?</p>
                        </div>

                        <div style = "height:95px;" class="modal-footer">
                            <a style = "width:80px; float:right;" type="button" class="btn btn-default" href = "{{url_for('deleteplaylist', id=p.id)}}">Ok</a> 
                            <button style = "width:80px; float:right; margin-right:10px;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                
                    </div>
                </div>   
            </div>

        {% endfor %} 

    </div>
</div>



{% endblock %}