{% extends 'vidlayout.html' %}

{% block title %}
Videos
{% endblock %} 




{% block content %}

<div style="margin-bottom: -40px;">
    <a href = "#" style="width:180px; margin-left:5px; margin-top: 20px; color:black; " class="btn btn-secondary">Return to Selections</a>
</div>


<div class="input-group">
    <input id = "searchinput" onkeyup="search()" style = "margin-left:10px; margin-top:-5px;" class="form-control"
                placeholder="Search here">
    <div style = "margin-top:-5px;" class="input-group-addon" ><i style = "margin-left:5px;" class="fa fa-search"></i></div>
</div>


<div style = "margin-left:10px;" class="card playlist">
    <div class="card-header">
       
           Playlist

            
            <a href = "#"><i style = "font-size:15px; margin-top:3px; margin-left:180px;"class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <ul id = "searchlist" class="list-group list-group-flush">
      
        <li id='1' class="list-group-item">
           <a href = "#">r.title</a> 
        </li>
        
        <li id='2' class="list-group-item">
            <a href = "#">r.title1</a> 
         </li>       

         <li id='3' class="list-group-item">
            <a href = "#">r.title2</a> 
         </li>       
    </ul>
</div>

{% endblock %}

{% block script %}

<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

<script>

$( function(){
    $('#searchlist').sortable({
        axis: 'y',
        update: function (event, ui) {
            var value = $(this).sortable('toArray' );
            console.log(value);
    
            // POST to server using $.post or $.ajax
            $.ajax({
                type: 'POST',
                url: "{{url_for('test')}}",
                data: JSON.stringify({value:value}),
                contentType: 'application/json;charset=UTF-8',
                dataType: "json"
            });
        }
    });
  });


   function search() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('searchinput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("searchlist");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}
