{% extends 'vidlayout.html' %} 

{% block title %} Videos {% endblock %} 

{% block style %}
<link href="{{url_for('static', filename='css/lity.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/viewvid.css')}}" rel="stylesheet" type="text/css"> 

{% endblock %} 

{% block content %}

<div class="input-group">
    <input class="form-control" placeholder="Search Videos">
    <div class="input-group-addon">
        <a href="free.html">
            <i class="fa fa-search"></i>
        </a>
    </div>
</div>


<div class="video">
    <img src="img/healthy1.jpg">
    <h2 class="title">
        <u>Healthy Food A</u>
    </h2>
    <br>
    <p> Makes 4 to 6 servings
        <br>
        <br> 5 or 6 large eggs (or egg substitute equivalent)
        <br>
        <br> 2 tablespoons to 1/3 cup milk, half-and-half, cream or dairy substitute
        <br>
        <br> Salt, pepper and a dash of nutmeg or cayenne, or favorite seasoning mix, and maybe a dash of hot sauce
        <br>
        <br> 1 frozen 9-inch deep-dish pie shell, or refrigerated pie crust (optional)
        <br>
        <br> 2 to 2-1/2 cups total: Any type shredded cheese
        <br>
        <br> Chopped, well-drained cooked or raw vegetables
        <br>
        <br> Diced deli meat or other cooked diced meat, seafood or poultry
        <br>
        <br> Preheat oven to 350 degrees. Beat eggs and milk in a large mixing bowl.
        <br>
        <br>
    </p>
</div>

<div class="sidearea">
    <p style="font-size:30px;">Related Recipes</p>
    <hr>
    <img class="related" src="img/healthy2.jpg">
    <p>Healthy Food B</p>
    <img class="related" src="img/healthy3.jpg">
    <p>Healthy Food C</p>
    <img class="related" src="img/healthy4.jpg">
    <p>Healthy Food D</p>
    <img class="related" src="img/healthy5.jpg">
    <p>Healthy Food E</p>
</div>

{% endblock %}