{% extends 'dashboard.html' %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block dashtitle %} Playlists {% endblock %} 

{% block style %}

<style>
    .title-small:hover,
    .title-small:visited,
    .title-small:link,
    a:active {
        color: black;
        font-weight: 600;
    }

    .vidusername:hover,
    .vidusername:visited,
    .vidusername:link,
    a:active {
        color: grey;
        font-weight: 600;
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: grey;
        text-decoration: none;
        /* no underline */
        cursor: pointer;
    }

    .row{
        width:100%;
    }


</style>

{% endblock %} 

{% block flash %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock %}




{% block dashboard %}
<div class = "container">
<a data-toggle="modal" data-target="#myModal" style = "color:black; margin-top: 10px; margin-left: 700px; width:250px;" class="btn btn-default">
    <p style="font-size:15px;">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Create New Playlist
    </p>
</a>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style = "text-align:center;" class="modal-header">
          <h5 class="modal-title pull-left" id="exampleModalLabel">Reply</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "POST">
                {{form.hidden_tag()}}
                {{wtf.form_field(form.title)}}
                {{wtf.form_field(form.desc)}} 
            <input style = "width:80px;"class="btn btn-default" type ="submit" value="Send">
          </form>
        </div>
      </div>
    </div>
</div>







<div class = "container">
    <div class = "row">

        {% for p in playlist %}

            <div class="col-md-6">
                <img style = "height:200px; width:300px;" src="{{url_for('static', filename = 'img/sport2.jpg')}}">
                <p>{{p.title}}</p>
                <p>{{p.desc}}</p>
            </div>

        {% endfor %} 

    </div>
</div>



{% endblock %}