<nav class="main-nav-outer" id="test">
	<!--main-nav-start-->
	<div class="container">
		<ul class="main-nav">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			
			<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Features
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('shop') }}">Shopping Cart</a></li>
						<li><a href="{{ url_for('recipe') }}">Recipe</a></li>
						<li><a href="{{ url_for('video') }}">Video(Structured)</a></li>
						<li><a href="{{ url_for('explorevideo') }}">Video</a></li>
						<li><a href="{{ url_for('gym_page') }}">Gym Finder</a></li>
						<li><a href="{{ url_for('blog') }}">Blog</a></li>
					</ul>
			</li>

			<li><a href="#">About</a></li>
			<li class="small-logo"><a href="#header"><img src="{{url_for('static', filename='img/small-logo.png')}}" alt=""></a></li>
			<li><a href="{{ url_for('index', _anchor='contact') }}">Contact</a></li>
			
			{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('dashboard') }}">{{ current_user.username }}</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>

			{% else %}
				<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
			{% endif %}

		</ul>
		<a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
	</div>
</nav>
<!--main-nav-end-->